.Main2 {
	align-items: flex-start;
    text-align: center;
    margin-right: auto;
    margin-left: auto;
    color: rgb(7, 7, 7);
    width: 100%;
    overflow-y: auto;
    height: 100%;
    width: 100%;
    
}

img{
    width: 320px;
    height: 155px;
    
}
.Routing{
    height:100%; 
}

