.Menu {
	display: flex-start;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin-right: auto;
    margin-left: auto;
    
    
    background-color:rgb(240, 245, 248);
    color: rgb(12, 1, 1);
    width: 100%;
   overflow-y: auto;
}
