.Header {
    display: flex;
flex-direction: row;
    background-color: #1c4aa6;
    justify-content: space-around;
    align-items: center;
    width: 100%;
    color: white;
    padding: 10px;
   


}
.Header>img{
    height: 70px; 
    width: 140px;
}

