.App {
  height: 100%;
  width: 100%;
  display: grid;
  grid-template-columns: repeat(12,1fr);
  grid-template-rows: repeat(12,1fr);
 
}

.App>.Header{
  background-color: #212121;
  grid-column: 12 span;
  grid-row: 1 span;
}
.App>.Menu{
  background-color: #323232;
  grid-column: 2 span;
  grid-row: 10 span;
}
.App>.Main2{
  background-color: #22696c;
  grid-column: 10 span;
  grid-row: 10 span;
}
.App>.Footer{
  background-color: #14FFEC;
  grid-column: 12 span;
  grid-row: 1 span;
}


